$clr1: #ff4600;
// $clr2: #fdd365;
// $clr3: #ee8572;
// $clr4: #35495e;
$dividercolor: #e8e9eb;

@mixin bg1($op) {
	background-color: rgba(255, 70, 0, $op);
}
// @mixin bg2($op) {
//   background-color: rgba(253, 211, 101, $op);
// }
// @mixin bg3($op) {
//   background-color: rgba(238, 133, 114, $op);
// }
// @mixin bg4($op) {
//   background-color: rgba(53, 73, 94, $op);
// }

@mixin sf {
	font-family: 'Kanit', sans-serif;
}

@mixin flex-r {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
@mixin flex-ri {
	display: -webkit-flex;
	display: flex;
	flex-flow: row-reverse wrap;
}
@mixin flex-c {
	display: -webkit-flex;
	display: flex;
	flex-flow: column wrap;
}
@mixin flex-ci {
	display: -webkit-flex;
	display: flex;
	flex-flow: column-reverse wrap;
}
@mixin flex-vhc{
	justify-content: center;
	align-items: center;
}
@mixin transit($who, $speed, $type) {
	-webkit-transition: $who $speed $type;
	-moz-transition: $who $speed $type;
	-ms-transition: $who $speed $type;
	-o-transition: $who $speed $type;
	transition: $who $speed $type;
}
@mixin bgabso() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@mixin transf($sc1, $sc2) {
	-webkit-transform: scale($sc1, $sc2);
	-moz-transform: scale($sc1, $sc2);
	-ms-transform: scale($sc1, $sc2);
	-o-transform: scale($sc1, $sc2);
	transform: scale($sc1, $sc2);
}

@mixin circle ($rd) {
	width: $rd;
	height: $rd;
	border-radius: $rd;
}


$dbg: solid red 2px;

